<div class="container">
   
        <ul class="nav nav-tabs">
            <li ><a routerLink="/summary">Summary</a></li>
            <li ><a routerLink="/transactions">Transactions</a></li>
            <!-- <li ><a routerLink="/dashboard">Income</a></li>
            <li><a routerLink="/expence">Expence</a></li> -->
            <li ><a routerLink="/report">Report</a></li>    
            <li><a routerLink="/allaccount">All Account</a></li>  
            <li class="dropdown active">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                  Business <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li><a routerLink="/displaycustomerinvoices" (click)="setasCustomer();" >Invoice</a></li>
                <li><a routerLink="/allcustomers" (click)="setasCustomer();">Customers</a></li>
                <li><a routerLink="/displaycustomerinvoices" (click)="setasSupplier();">Bills To Pay</a></li> 
                <li><a routerLink="/allcustomers" (click)="setasSupplier();">Suppliers</a></li> 
             </ul>
          </li>  
          <li ><a routerLink="/displayjournals">Journal</a></li>    
          </ul>
      <br>

      <div class="row">       
        <div class="col col-12 col-lg-12 col-md-12 col-sm-12">
            <button type="button" class="btn btn-info " style="width: 100%" >{{displaycustomerorsupplier}}</button>
        </div>
    </div>
    <br>
      <div class="row">
          <p>   
              <br>            
                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                   {{addnewuserbtn}}
                </button>
            </p>    
            <div class="collapse" id="collapseExample" [ngClass]="{'in': isOpen}">
            <div class="card card-body">
                <form (ngSubmit)="addNewCustomer()" ngNativeValidate>
                    <h4 class="card-title d-flex justify-content-between">{{userdetails}} </h4>
                    <div class="row" >
                        <div class="col col-12 col-lg-6 col-md-6">
                            <label for="namecust">Name</label> 
                            <input type="text" class="form-control" name="namecust" id="namecust"  [(ngModel)]="userFullName" required >
                        </div>
                        <div class="col col-12 col-lg-6 col-md-6">
                            <label for="emailcust">Email</label> 
                            <input type="email" class="form-control" name="emailcust" id="emailcust"  [(ngModel)]="userEmailId" required >
                        </div>
                        <div class="col col-12 col-lg-6 col-md-6">
                            <label for="addrcust">Address</label> 
                            <textarea name="addrcust" id="addrcust" class="form-control" rows="4"  [(ngModel)]="userAddress" required></textarea>
                            <!-- <input type="email" class="form-control" name="emailcust" id="emailcust"  [(ngModel)]="userEmailId"  readonly> -->
                        </div>
                        <div class="col col-12 col-lg-6 col-md-6">
                            <div class="row">
                                <div class="col col-12 col-md-12 col-lg-12">
                                    <label for="phonecust">Contact Number</label> 
                                    <input type="text" class="form-control" name="phonecust" id="phonecust"  [(ngModel)]="userContactNo" required >                                        
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col col-12 col-md-12 col-lg-12 col-md-offset-3 col-lg-offset-3  col-sm-offset-3  col-xs-offset-3">
                                    <button type="submit" class="btn btn-primary" style="width: 50%;" >ADD</button>                                     
                                </div>
                            </div>
                        </div>
                      </div>
                </form>
            </div>
            </div>
      </div>

      <br>
    <div class="row">
        <h3>{{allusers}}</h3>
        <table class="table table-hover">
            <thead>
                <th>Name</th>
                <th>Email</th>
                <th>Address</th>
                <th>Contact Number</th>
            </thead>
            <tbody>
                <tr *ngFor="let customer of allcustomers; let i = index;let last = last;" (click)="displayIndividualCustomer(customer._id);" >
                    <td>{{customer.userFullName}}</td>
                    <td>{{customer.userEmailId}}</td>
                    <td>{{customer.userAddress}}</td>
                    <td>{{customer.userContactNo}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    
</div>


