<div class="container">
  <ul class="nav nav-tabs">
    <li ><a routerLink="/summary">Summary</a></li>
    <li><a routerLink="/transactions">Transactions</a></li>
    <!-- <li ><a routerLink="/dashboard">Income</a></li>
    <li><a routerLink="/expence">Expence</a></li> -->
    <li ><a routerLink="/report">Report</a></li>    
    <li class="active"><a routerLink="/allaccount">All Account</a></li>   
    <li class="dropdown ">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
          Business <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li><a routerLink="/displaycustomerinvoices" (click)="setasCustomer();" >Invoice</a></li>
        <li><a routerLink="/allcustomers" (click)="setasCustomer();">Customers</a></li>
        <li><a routerLink="/displaycustomerinvoices" (click)="setasSupplier();">Bills To Pay</a></li> 
        <li><a routerLink="/allcustomers" (click)="setasSupplier();">Suppliers</a></li> 
     </ul>
  </li>  
  <li  ><a routerLink="/displayjournals">Journal</a></li>         
  </ul>
      <!-- year selction and Quarter selection starts -->
    <div class="row">
        <div class="table-responsive">
            <table class="table ">
                <tr>
                  <th  colspan="1" style="text-align: center;font-size: larger;">
                    <select class="form-control" [(ngModel)]="selectedYear" (change)="yearChange()">
                      <option value="19">19-20</option>                    
                      <option value="20"  selected>20-21</option>                    
                      <option value="21">21-22</option>
                      <option value="22">22-23</option>
                      <option value="23">23-24</option>
                      <option value="24">24-25</option>
                      <option value="25">25-26</option>
                    </select>                                    
                  </th> 
                  <th  colspan="1" style="text-align: center;font-size: larger;">
                    <select class="form-control" [(ngModel)]="selectedQuarter" (change)="quarterChange()">
                      <option value="0" selected>All</option> 
                      <option value="1">Q1</option>
                      <option value="2">Q2</option>
                      <option value="3">Q3</option>
                      <option value="4">Q4</option>
                    </select>                                    
                  </th>                                       
              </tr>
            </table>
        </div>
    </div>
     <!-- year selction and Quarter selection ends -->
     <div class="row">
        <div class="col col-sm-3 col-md-3 col-lg-3" style="border-style: groove;" >
                <table  class="table table-hover">
                    <tr>
                        <th  colspan="2">Categories</th>                        
                    </tr> 
                    <tbody>
                      <tr *ngFor="let income of consolidatedincomes | keyvalue; let i = index;" (click)="onIncomeClick($event, income.key)">
                        <td><a>{{income.key}}</a></td>
                        <td>{{income.value}}</td>
                        <!-- <td>{{income.category}}</td>
                        <td>{{income.amount}}</td> -->
                      </tr>
                    </tbody>                  
                   
                    <tr>
                        <th colspan="2">Bank</th>                        
                    </tr>
                    <tbody>
                      <tr (click)="onBankClick($event)">
                        <td colspan="2"><a >Bank Name</a></td>                       
                      </tr>
                    </tbody>
                   
                </table>
        </div>
        <div class="col col-sm-9 col-md-9 col-lg-9" style="border-style: groove;">
          <form #addressForm="ngForm" ngNativeValidate  (ngSubmit)="updateIncome()">  
            <table class="table" *ngIf="incomeclick">
                  <tr>
                    <th  colspan="5" align="center">Category</th>                        
                  </tr>  
                
                    <tr>
                      <!-- <th style="text-align: center;">No</th> -->
                      <th style="text-align: center;">ID</th>
                      <th style="text-align: center;">Category</th>
                      <th style="text-align: center;">Date</th>
                      <th style="text-align: center;">Description</th>
                      <th style="text-align: center;">Amount</th>
                  </tr>
                           
                  <tr *ngFor="let displayincome of displayincomes ; let i = index;">  
                      <!-- <td> {{displayincome.category}}</td>                                                    -->
                      <td><input name="id_{{i}}" class="form-control"  [(ngModel)]="displayincome.cashaccountid" readonly></td> 
                      <td><input name="cat_{{i}}" class="form-control"  [(ngModel)]="displayincome.category" readonly></td> 
                      <!-- <td>{{displayincome.category}}</td> -->
                      <td><input name="date_{{i}}" type="date" class="form-control"  [(ngModel)]="displayincome.date" required [readonly]="isReadonly[i]"></td> 
                      <td><input  name="desc_{{i}}" class="form-control"  [(ngModel)]="displayincome.description" required [readonly]="isReadonly[i]"></td> 
                      <td><input name="amt_{{i}}" class="form-control"  [(ngModel)]="displayincome.amount" required [readonly]="isReadonly[i]"></td> 
                      <td>  
                        <div class="dropdown" *ngIf="isReadonly[i]">
                          <button class="glyphicon glyphicon-option-vertical dropdown-toggle" type="button" data-toggle="dropdown"></button>
                          <ul class="dropdown-menu">
                            <li><a style="cursor: pointer;" (click)="enableIncomeEditing(i)" >Edit</a></li>
                            <li><a style="cursor: pointer;" (click)="removeIncomeField(i)">Delete</a></li>                            
                          </ul>
                        </div> 
                        <div *ngIf="!isReadonly[i]">
                          <button type="submit" class="glyphicon glyphicon-save-file" title="SAVE" ></button>                          
                        </div>

                     </td>                     
                 </tr>
                 <!-- <tr><td colspan="4" align="center"><button type="submit" class="btn btn-primary">Update Income</button></td></tr> -->
            </table>
          </form>
          <form  #addressForm="ngForm" ngNativeValidate  (ngSubmit)="updateExpence()">
            <table class="table" *ngIf="expenceclick">
              <tr>
                <th align="center" colspan="3">Bank Statement</th>                        
              </tr> 
              <tr>
                <!-- <th style="text-align: center;">No</th> -->
                <!-- <th style="text-align: center;">Category</th> -->
                <th style="text-align: center;">Date</th>
                <th style="text-align: center;">Description</th>
                <th style="text-align: center;">Amount</th>
            </tr>
                     
            <tr *ngFor="let displayexpence of displayexpences ; let i = index;">  
                <!-- <td> {{displayincome.category}}</td>                                                    -->
                <!-- <td><input  name="cat_{{i}}" class="form-control"  [(ngModel)]="displayexpence.category" readonly></td>  -->
                <!-- <td>{{displayincome.category}}</td> -->
                <td><input name="date_{{i}}" type="date" class="form-control"  [(ngModel)]="displayexpence.date" required [readonly]="isReadonly[i]"></td> 
                <td><input name="desc_{{i}}" class="form-control"  [(ngModel)]="displayexpence.description" required [readonly]="isReadonly[i]"></td> 
                <td><input name="amt_{{i}}" class="form-control"  [(ngModel)]="displayexpence.amount" required [readonly]="isReadonly[i]"></td> 
                <td>
                  <div class="dropdown" *ngIf="isReadonly[i]">
                    <button class="glyphicon glyphicon-option-vertical dropdown-toggle" type="button" data-toggle="dropdown"></button>
                    <ul class="dropdown-menu">
                      <li><a style="cursor: pointer;" (click)="enableExpenceEditing(i)" >Edit</a></li>
                      <li><a style="cursor: pointer;" (click)="removeExpenceField(i)">Delete</a></li>                            
                    </ul>
                  </div> 
                  <div *ngIf="!isReadonly[i]">
                    <button type="submit" class="glyphicon glyphicon-save-file" title="SAVE" ></button>                          
                  </div>
               </td>
           </tr>             
           
             <!-- <tr><td colspan="4" align="center"><button type="submit" class="btn btn-primary">Update Expence</button></td></tr> -->
        </table>
      </form>  
        </div>
     </div>
</div>

